<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar bg-light">
      <h1><%= link_to 'Anonymous Wiki', articles_path %></h1>
      <div class="btn btn-primary">
        <%= link_to 'Create New', new_article_path %>
      </div>
    </div>
<!--     <div class="d-flex p-3 justify-content-between align-items-center shadow-sm">
      <div><h1><%#= link_to 'Anonymous Wiki', articles_path %></h1></div>
      <div >
        <%#= link_to 'Create New', new_article_path %>
      </div>
    </div> -->
    <div class="container my-3">
      <%= yield %>
    </div>
  </body>
</html>
